Package: com.fiore.calculatorconverter
Name: CalculatorConverter
Version: 1.0
Architecture: iphoneos-arm
Description: Add iOS 18 unit conversion to the Calculator app.
Maintainer: fiore
Author: fiore
Section: Tweaks
Depends: mobilesubstrate
